$redColor: #e2494c;
$greyColor: #9c9c9c;
$maxMobile: "(max-width: 575px)";
$maxSmall: "(max-width: 767px)";
$minMedium: "(min-width: 768px)";
$maxDesktop: "(max-width: 1199px)";
$minLarge: "(min-width: 1200px)";