footer {
  background-color: #d6d6d6;
  > .container {
    border-bottom: 2px solid $greyColor;
    .row {
      p {
        color: $greyColor;
      }
      .content {
        img {
          border: 5px solid $greyColor;
          width: 150px;
          height: 100px;
        }
        h6 {
          color: $redColor;
        }
      }
      ul {
        li {
          color: $greyColor;
        }
      }
      span {
        color: $redColor;
      }
      form {
        input,
        textarea {
          outline: none;
        }
        textarea {
          height: 100px;
        }
      }
    }
  }
  .copyright {
    color: $greyColor;
    .container {
      @media #{$maxSmall} {
        flex-direction: column;
      }
    }
  }
}